.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.block-row {
    display: flex;
}

.block {
    margin-right: 12px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

table {
    border-spacing: 0px;
}